{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="90DC59D8CEEE7ACE4A7A9B6B63C2312C" />
    <meta name="google-site-verification" content="nzOfAkYXi6FeAlILVda8LCfesFYp8By65BDCEdZgyn0" />
    <meta name="description" content="Activate Peacock TV on your device at PeacockTV.com/tv. Follow our simple step-by-step guide to enter your code, sign in, and start streaming your favorite shows, movies, and sports today!" />
    <meta name="keywords" content="PeacockTV.com/tv, activate Peacock TV, Peacock TV activation, Peacock streaming setup, Peacock login code" />
    <meta name="robots" content="index, follow" />
    <title>Activate Peacock TV at PeacockTV.com/tv – Step-by-Step Guide</title>
    {{ super() }}
{% endblock %}
