{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="137B171C1225C412C853C600EB873E62" />
    <meta name="google-site-verification" content="hf7bTeXE-DG_W2g7GllxiiPITrfsf3y3Cy2LEHJ0cf4" />
    <meta name="description" content="Activate Peacock TV on your device at PeacockTV.com/tv. Follow our simple step-by-step guide to enter your code, sign in, and start streaming your favorite shows, movies, and sports today!" />
    <meta name="keywords" content="PeacockTV.com/tv, activate Peacock TV, Peacock TV activation, Peacock streaming setup, Peacock login code" />
    <meta name="robots" content="index, follow" />
    <title>Activate Peacock TV at PeacockTV.com/tv – Step-by-Step Guide</title>
    {{ super() }}
{% endblock %}
